
.cButton.Destructive {
    background-color: #D01322;
    transition: all 300ms ease-out;
}

.cButton.Destructive:hover {
    background-color: #F44336;
}
.cButton.Destructive:active {
    background-color: #A8071A;
}
.cButton.Destructive:focus {
    background-color: #D01322;
    border: #820214 1px solid;
}
.cButton.Destructive.Disabled {
    background-color: #E7E7E7;
}