.cButton {
    min-height: 36px;
    min-width: 30px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.5em;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.cButton.Primary {
    background-color: #019CB0;
}

.cButton.Primary:hover {
    background-color: #00B8D9;
}

.cButton.Destructive:hover {
    background-color: #F44336;
}

.cButton.Destructive {
    background-color: #D01322;
}

.cButton.Safe:hover {
    background-color: #4CAF50;
}

.cButton.Safe {
    background-color: #389E0D;
}

.cButton.Warning:hover {
    background-color: #FF9800;
}

.cButton.Warning {
    background-color: #D48906;
}

.cButton.Info:hover {
    background-color: #2196F3;
}

.cButton.Info {
    background-color: #0959D9;
}

.cButton.Disabled {
    cursor: default;
    pointer-events: none;
}