.cButton {
    min-height: 36px;
    min-width: 30px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.5em;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    cursor: pointer;

    &.Primary {
        background-color: #019CB0;
        ;
    }

    &.Destructive {
        background-color: #D01322;
        ;
    }

    &.Safe {
        background-color: #389E0D;
        ;
    }

    &.Warning {
        background-color: #D48906;
        ;
    }

    &.Info {
        background-color: #0959D9;
        ;
    }

    &.Disabled {
        cursor: default;
        pointer-events: none;
    }
}